/**
 * Created by missF on 2017/7/5.
 */
html,
body{
    width:100%;
}
/* 广告模块 */
.m-ad{
    height:36px;
    font:12px/36px Microsoft YaHei;
    background-color: #f3f3f3;
}
.m-ad p{
	display:inline-block;
}
.m-ad .m-ad-left{
	margin-left:13%;
}
.m-ad .m-ad-left a{
	color:#21a557;
}
.m-ad .m-ad-left a:hover{
	text-decoration:underline;
}
.m-ad .m-ad-right{
	float:right;
	margin-right:13%;
}
.m-ad .m-ad-right i{
	font-size:16px;
}
.m-ad .m-ad-right:hover{
	color:#21a557;
}
/* 头部 */
/* 导航 */
.nav{
	height:90px;
	line-height:90px;
}
.nav .nav-left{
	float:left;
	margin-left:13%;
}
.nav .nav-left p{
	display:inline-block;
	font:22px HiraginoSansGB W3,Microsoft YaHei;
}
.nav .nav-left p b{
	font:28px  GillSansMT,Microsoft YaHei;
	color:#39a030;
}
.nav .nav-left p i{
	font-size:20px;
	color:#39a030;
}
.nav .nav-left .concern{
	width:54px;
	height:21px;
    border-radius:10%;
    font:12px/21px simsun;
	color:#fff;
	background-color: #21a557;
}
.nav .nav-left .concern:hover{
	background-color: #2fb556;
}
/* 关注登录成功后关注按钮的样式 */
.nav .nav-left .follow{
    width:104px;
    height:19px;
    border:1px solid #efefef;
    border-radius:5%;
    font:12px/19px simsun;
    color:#333;
    background-color:#f8f8f8;
}
.nav .nav-left .follow span,
.nav .nav-left .follow i,{
	color:#999;
}
.nav .nav-left .follow:hover{
	background-color:#fff;
}
.nav .nav-left .follow i:hover{
	color:#21a557;
	text-decoration:underline;
}
.nav .nav-left span{
	font:12px simsun;
	color:#666;
}
.nav .nav-right{
	float:right;
    margin-right:13%;
    font:16px/90px HiraginoSansGB W3,Microsoft YaHei;
    color:#666;
}
.nav .nav-right a{
	margin-left:55px;
}
.nav .nav-right a:hover{
	color:#39a030;
}
.nav .nav-right i{
	width:18px;
	height:18px;
	margin-left:30px;
	background:url(img/ico-0.png) no-repeat -12px -10px;
}
.nav .nav-right i:hover{
	background:url(img/ico-0.png) no-repeat -50px -10px;	
}
/* 遮罩 */
.shade{
	display:none;
	width:100%;
    height:9999px;
    position:absolute;
    top:0;
    left:0;
    z-index:998;
    background-color:#282828;
    opacity:.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
}
/* 登录模块 */
.m-log{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	z-index:999;
    transform:translate(-50%,-50%);
	padding:20px 50px 40px 40px;
	background-color:#fff;
}
.m-log h3{
	font:18px Microsoft YaHei;
	color:#444;
	padding-bottom:20px;
}
.m-log i{
	position:fixed;
	top:10px;
	right:8px;
	width:20px;
	height:20px;
	background:url(img/log.png) no-repeat -278px 2px;
}
.m-log i:hover{
	background-color:#f00;
}
.m-log .username,
.m-log .password{
	display:block;
	width:293px;
	height:43px;
	border:1px solid #dfdfdf;
	font:16px/43px Microsoft YaHei;
	text-indent:11px;
	color:#ccc;
	background-color:#fafafa;
	box-shadow:2px 2px #f1f1f1 inset;
}
.m-log .password{
	margin-top:25px;
}
.m-log .logb{
	width:293px;
	height:46px;
	margin-top:30px;
    font:16px/48px Microsoft YaHei;
    color:#fff;
	background:url(img/log.png) no-repeat 0 -21px;
	box-shadow:2px 2px #d5e3da;
}
/*轮播图区*/
.slideshow{
	position: relative;
	width:100%;
	height:400px;
}
.slideshow li{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.slideshow img{
	width:100%;
	height:400px;
}
/* 三个产品 */
.produce{
	display:table-cell;
	vertical-align:middle;
	height:296px;
}
.produce .produce1,
.produce .produce2,
.produce .produce3{
	display:inline-block;
    width:21%;
}
.produce .produce1{
	margin-left: 13%;
}
.produce .produce2{
	margin:0 5%;
}
.produce .produce3{
	float:right;
	margin-right: 13%
}
.produce i{
	float:left;
	width:80px;
	height:80px;
}
.produce .produce1 i{
	background:url(img/ico-1.png) no-repeat -18px -9px;
}
.produce .produce2 i{
	background:url(img/ico-1.png) no-repeat -118px -9px;
}
.produce .produce3 i{
	background:url(img/ico-1.png) no-repeat -218px -9px;
}
.produce h3,
.produce p,
.produce a{
	margin-left: 100px;
}
.produce h3{
	font:22px/40px Microsoft YaHei;
	overflow:hidden;/* 溢出不显示 */
    text-overflow:ellipsis;/* 溢出显示... */
    white-space:nowrap;/* 单行显示 */
}
.produce p{
    font:14px/25px Microsoft YaHei;	
    margin-bottom:35px;
    color:#666;
    /*设置段落显示行数为3行*/
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.produce a{
	font:14px Microsoft YaHei;	
	color:#39a030;
}
.produce a:hover{
	text-decoration:underline;
}
/* 工作环境 */
.worken{
	width:100%;
}
/* 主体 */
/* 主体-主栏（课程列表） */
.g-bd{
	background-color:#f8f8f8;
}
/* 主栏inner设置相同背景颜色 */
.g-bd .inner{
	width:100%;
	padding:80px 0 120px 0;
}
.g-bd .mn{
	float:left;
	width:100%;
}
.g-bd .mnc{
	margin-right:227px;	
}
.g-bd .mn h3{
	width:400px;
	height:50px;
	margin-bottom:30px;
}
.g-bd .mn h3 button{
	display:inline-block;
    width:200px;
    height:50px;
    margin-bottom:30px;
    font:20px/50px Microsoft YaHei;
    text-align:center;
    color:#666;
    background-color:#fff;
    box-shadow:1px 1px #d4d3d3;
}
.g-bd .mn h3  .z-crt{
	color:#fff;
	background-color:#39a030;
}
.g-bd .mn ul{
	padding:0 20px;
}
.g-bd .mn ul li{
	float:left;
	width:225px;
	height:230px;
	margin:10px;
	background-color:#fff;
	box-shadow:1px 1px #e6e6e6;
}
.g-bd .mn img{
	width:225px;
	height:125px;
	margin-bottom: 4px;
}
.g-bd .mn h4,
.g-bd .mn h5,
.g-bd .mn p{
	font:12px/2 Microsoft YaHei;
	text-indent: 5px;
}
.g-bd .mn h4,
.g-bd .mn h5{
	overflow:hidden;/* 溢出不显示 */
    text-overflow:ellipsis;/* 溢出显示... */
    white-space:nowrap;/* 单行显示 */
}
.g-bd .mn h4:hover{
	color:#39a030;
}
.g-bd .mn h5{
	margin-bottom: 5px;
	color:#999;
}
.g-bd .mn .learnerCount{
	display:inline-block;
    height:18px;
    margin-left:5px;
    border:1px solid #ddd;
    border-radius:10%;
}
.g-bd .mn i{
	width:9px;
	height:10px;
	margin-left:2px;
    background:url(img/ico-2.png) no-repeat -8px -2px;
}
.g-bd .mn span{
	line-height:18px;
	margin:0 6px;
	font-size:12px;
	color:#999;
}
.g-bd .mn p{
	margin-top: 2px;
	color:#ff3f00;
}
/* 翻页 */
.g-bd .mn .m-page{
	float:right;
	margin-right:35px;
}
.g-bd .mn .m-page a{
	display:inline-block;
	width:20px;
	height:20px;
	font:14px/20px Microsoft YaHei;
	text-align:center;
	vertical-align:top;
	color:#666;
}
.g-bd .mn .m-page a+a{
	margin-left: 10px;
}
.g-bd .mn .m-page a:hover{
	background-color:#9dd8b1;
}
.g-bd .mn .m-page .first{
	width:30px;
	background:url(img/m-page.png) no-repeat -9px -11px;
}
.g-bd .mn .m-page .last{
	width:30px;
	background:url(img/m-page.png) no-repeat -43px -11px;
}
.g-bd .mn .m-page .z-crt{
	color:#39a030;
}
/* 主体-侧栏 */
.g-bd .sd{
	position:relative;
	float:right;
	width:225px;
	margin-left:-227px;
}
/* 主体-侧栏-机构介绍 */
.g-bd .sd .insti{
	height:230px;
	margin-bottom:20px;
	border:1px solid #ddd;
	border-top:none;
	text-indent:20px;
	background-color:#fff;
}
.g-bd .sd .insti h3{
	height:55px;
	font:16px/55px Microsoft YaHei;
	border-bottom:1px solid #ddd;
}
.g-bd .sd .insti p{
	font:14px/35px Microsoft YaHei;
	color:#666;    
}
.g-bd .sd .insti .video{
	padding-left:20px;
} 
.g-bd .sd .insti .m-video{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	z-index:999;
    transform:translate(-50%,-50%);
    width:800px;
    height:600px;
    background-color:#fff;
}
.g-bd .sd .insti .m-video span{
	position:absolute;
	top:10px;
	left:1px;
	font:18px/2 Microsoft YaHei;
	color:#444; 
}
.g-bd .sd .insti .m-video button{
	position:absolute;
	top:10px;
	right:10px;
	width:20px;
	height:20px;
	font-size:20px;
}
.g-bd .sd .insti .m-video button:hover{
	background-color:#f00;
}
.g-bd .sd .insti .m-video .videob{
	width:760px;
	height:560px;
	
}
 /* 主体-侧栏-最热排行 */
.g-bd .sd .hot{
	border:1px solid #ddd;
	border-top:none;
	background-color:#fff;
}
.g-bd .sd .hot h3{
	height:55px;
	font:16px/55px Microsoft YaHei;
	text-indent:20px;
	border-bottom:1px solid #ddd;
}
.g-bd .sd .hot img{
    float:left;
	width:50px;
	height:50px;
	padding:5px 10px 20px 20px;
}
.g-bd .sd .hot p{
	margin:20px 20px 10px 0;
	font:14px/25px Microsoft YaHei;
	overflow:hidden;/* 溢出不显示 */
    text-overflow:ellipsis;/* 溢出显示... */
    white-space:nowrap;/* 单行显示 */
}
.g-bd .sd .hot i{
	width:9px;
	height:10px;
	background:url(img/ico-2.png) no-repeat  -8px -2px;
}
.g-bd .sd .hot span{
	padding-left:4px;
	color:#999;
}
.g-bd .sd .hot .hide{
	display:none;
}
/* 尾部 */
.g-ft{
	background-color:#2c3339;
	
}
.g-ft h5,
.g-ft p,
.g-ft a{
	color:#fff;
}
.g-ft .iteam1,
.g-ft .iteam2,
.g-ft .iteam3,
.g-ft .iteam4{
    float:left;

}
.g-ft .iteam1{
   padding:80px 9% 80px 14%;
}
.g-ft .iteam1 h3{
	font:28px/50px HiraginoSansGB W3,Microsoft YaHei;;
	color:#39a030;
}
.g-ft .iteam1 h3 b{
    font-family:GillSansMT,Microsoft YaHei;
}
.g-ft .iteam1 p{
    font:12.5px/2 Microsoft YaHei;
}
.g-ft .iteam2,
.g-ft .iteam3,
.g-ft .iteam4{
	padding:80px 6% 80px 0;
}
.g-ft .iteam2 h5,
.g-ft .iteam3 h5,
.g-ft .iteam4 h5{
	font:12.5px/2 Microsoft YaHei;
}
.g-ft .iteam2 ul,
.g-ft .iteam3 ul,
.g-ft .iteam4 ul{
	font:14.58px/2 Microsoft YaHei
}
.g-ft a:hover{
    text-decoration:underline;/* 设置下划线 */
}
