/**
 * Created by missF on 2017/7/5.
 */
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{
	margin:0;padding:0;
}
html,body,img,button,input{
	border:0;
}
i{
	font-style:normal;
	display:inline-block;}
li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
a,button,input{
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a,a:hover{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6,p,span,a,a:hover{
	    color:#333;
	}
body,input,button{
	font:12px/1.14 simsun,arial;
	outline:0;
	background:#fff;
}
body{
	background:#fff;
}
